body {
  background-color: #32325C;
}

.header-img {
  width: 200px;
  height: 200px;
  margin-left: 25px;
  border-radius: 100px;
  background-color: #32325C;
}

#navigation-panel {
  border-radius: 10px;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 30px;
}

a {
  font-weight: bold;
  border-radius: 5px;
  padding: 5px 5px;
  color: #A5A5C2;
}

a:hover {
  background-color: #A5A5C2;
  color: #121233;
  text-decoration: none;
}

#exemple {
  background-color: #6B6B8F;
  color: #121233;
  text-decoration: none;
  cursor: default;
}

.center-page {
  background-color: #A5A5C2;
  margin-top: 25px;
  border-radius: 15px;
  margin-bottom: 50px;
  margin-top: 50px;
  margin-left: 25px;
  margin-right: 25px;
  padding-top: 20px;
  padding-bottom: 50px;
  color: #121233;
}

h1 {
  text-align: center;
  text-decoration: underline;
  color: #121233;
  
}

h2 {
  font-weight: bold;
  text-decoration: underline;
  color: #121233;
}

h3 {
  font-weight: bold;
  color: #121233;
}

.container {
  margin-top: 50px;
  position: relative;
  left: 25%;
  width: 50%;
  background-color: #6B6B8F;
  
  border-radius: 15px;
  box-shadow: 5px 10px #121233;
  
}

.avatar {
  display: block;
  margin: auto;
  width: 50%;
  height: 50%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1s ease;
  background-color: #121233;
  
  box-shadow: 5px 10px #6B6B8F;
  border-radius: 15px;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: #A5A5C2;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.texte-remi {
  border: none;
  padding: 50px 25px;
  margin-top: 50px;
  justify-content: center;
  overflow-wrap: normal;
}

#pei {
  color: #121233;
  text-decoration: underline;
  text-decoration-color: #121233;
  font-weight: bold;
  font-size: 20px;
}